<div>
  <h2 style="text-align: center"><b>TMDB Movie List App</b></h2>
  <div class="hot">
    <hot-table [data]="dataset" [settings]="settings">
      <hot-column data="original_title" title="Title"></hot-column>
      <hot-column data="homepage" title="Homepage URL"></hot-column>
      <hot-column data="status" title="Status"></hot-column>
      <hot-column
        data="release_date"
        title="Release Date (YYYY-M-D)"
      ></hot-column>
      <hot-column data="budget" title="Budget ($)"></hot-column>
      <hot-column data="runtime" title="Runtime (mins)"></hot-column>
    </hot-table>
  </div>
</div>
